<template>
      <div class="flex-center position-ref full-height">
          <div class="content">
              <div class="title m-b-md">
                  Welcome to Vue.js on Laravel
              </div>
              <div class="links">
                  <a href="https://laravel.com/docs">View Laravel Docs</a>
                  <a href="https://vuejs.org/v2/guide/">View Vue Docs</a>
                  <a href="https://laracasts.com">Watch Videos</a>
              </div>
          </div>
      </div>
  </template>
  <script>
      export default {
        mounted() {
          console.log('Mounted gan...');
        }
      }
  </script>
  <style scoped>
      html, body {
          background-color: #fff;
          color: #636b6f;
          font-family: 'Raleway', sans-serif;
          font-weight: 100;
          height: 100vh;
          margin: 0;
      }

      .full-height {
          height: 100vh;
      }

      .flex-center {
          align-items: center;
          display: flex;
          justify-content: center;
      }

      .position-ref {
          position: relative;
      }

      .top-right {
          position: absolute;
          right: 10px;
          top: 18px;
      }

      .content {
          text-align: center;
      }

      .title {
          font-size: 84px;
      }

      .links > a {
          color: #636b6f;
          padding: 0 25px;
          font-size: 12px;
          font-weight: 600;
          letter-spacing: .1rem;
          text-decoration: none;
          text-transform: uppercase;
      }

      .m-b-md {
          margin-bottom: 30px;
      }
  </style>
