html, body {
  height: 100%;
}

body{
  background: linear-gradient(180deg, #4cd137 40%, #92f084 40%);
  background-attachment: fixed;
}

@media (min-width: 768px) {
  body{
    background: linear-gradient(180deg, #4cd137 50%, #92f084 50%);
    background-attachment: fixed;
  }
}

@media (min-width: 992px) {
  body{
    background: linear-gradient(180deg, #4cd137 52%, #92f084 52%);
    background-attachment: fixed;
  }
}

@media (min-width: 1200px) {
  body{
    background: linear-gradient(180deg, #4cd137 55%, #92f084 55%);
    background-attachment: fixed;
  }
}
