ul.inside {
  list-style-position: inside;
}

ul.no-padding{
  padding: 0;
}
.fade.in {
  opacity: 1;
}
.btn-group-xs > .btn, .btn-xs {
    padding  : 7px 5px;
    font-size  : .875rem;
    line-height  : .5;
    border-radius : .2rem;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-backdrop.in {
  opacity: 0.5;
}
.middle {
  vertical-align: middle;
}
.modal-xl{
  min-width: 80% !important;
}

.modal-xxl{
  min-width: 90% !important;
}
.bg-yellow{
  background-color: #ffa00a;
}
.scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

.loading-page{
  background-color:#dfe7eb;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10000;
  display: block;
  padding: 19% 42%;
}

.fa-animation{
  margin:0 auto;
  position:relative;
}


.centered-modal.in {
  display: flex !important;
}
.centered-modal .modal-dialog {
  margin: 0 auto !important;
}


.fa-animation .fa{position:absolute;}
.fa-lg{font-size:15em; top:8px; left:0px;}
.fa-shake {
  -webkit-animation: fa-shake 1s infinite steps(100);
  animation: fa-shake 0.2s infinite steps(100);
}
@-webkit-keyframes fa-shake {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  100%{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes fa-shake {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  100%{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.fa-lg{font-size:15em; top:8px; left:0px;}
.fa-md{font-size:30px; top:0px; left:40px;}
.fa-sm{font-size:24px; top:30px; left:35px;}
