html, body {
  height: 100%;
}

body{
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  background-attachment: fixed;
}

@media (min-width: 768px) {
  body{
    background: linear-gradient(120deg, #fdcd3b 50%, #ffed4b 50%);
    background-attachment: fixed;
  }
}

@media (min-width: 992px) {
  body{
    background: linear-gradient(130deg, #fdcd3b 52%, #ffed4b 52%);
    background-attachment: fixed;
  }
}

@media (min-width: 1200px) {
  body{
    background: linear-gradient(140deg, #fdcd3b 55%, #ffed4b 55%);
    background-attachment: fixed;
  }
}
