html, body {
  heightL 100%;
}
* {
  font-family: 'Roboto', sans-serif;
}
.md-form input[type=text]:focus:not([readonly]) + label,
.md-form input[type=email]:focus:not([readonly]) + label,
.md-form .prefix {
   background-color: transparent;
 }
 .md-form input[type=text] + label,
 .md-form input[type=email] + label,
 .md-form .prefix {
    background-color: transparent;
  }

  div.primary input[type=date]:focus:not([readonly]),
  div.primary input[type=datetime-local]:focus:not([readonly]),
  div.primary input[type=email]:focus:not([readonly]),
  div.primary input[type=number]:focus:not([readonly]),
  div.primary input[type=password]:focus:not([readonly]),
  div.primary input[type=search-md]:focus:not([readonly]),
  div.primary input[type=search]:focus:not([readonly]),
  div.primary input[type=tel]:focus:not([readonly]),
  div.primary input[type=text]:focus:not([readonly]),
  div.primary input[type=time]:focus:not([readonly]),
  div.primary input[type=url]:focus:not([readonly]),
  div.primary textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #4285f4;
    box-shadow: 0 1px 0 0 #4285f4;
  }
  div.primary input[type=text]:focus{
    border-bottom: 1px solid #4285f4;
    box-shadow: 0 1px 0 0 #4285f4;
  }
  div.primary input[type=text]:focus + label {
    color : #4285f4;
  }
  div.primary input[type=date]:focus:not([readonly]) + label,
  div.primary input[type=datetime-local]:focus:not([readonly]) + label,
  div.primary input[type=email]:focus:not([readonly]) + label,
  div.primary input[type=number]:focus:not([readonly]) + label,
  div.primary input[type=password]:focus:not([readonly]) + label,
  div.primary input[type=search-md]:focus:not([readonly]) + label,
  div.primary input[type=search]:focus:not([readonly]) + label,
  div.primary input[type=tel]:focus:not([readonly]) + label,
  div.primary input[type=text]:focus:not([readonly]) + label,
  div.primary input[type=time]:focus:not([readonly]) + label,
  div.primary input[type=url]:focus:not([readonly]) + label,
  div.primary textarea.md-textarea:focus:not([readonly]) + label {
    color: #f7b731;
  }
