html, body {
  height: 100%;
}

body{
  background: linear-gradient(180deg, #d63031 40%, #fab1a0 40%);
  background-attachment: fixed;
}

@media (min-width: 768px) {
  body{
    background: linear-gradient(180deg, #d63031 50%, #fab1a0 50%);
    background-attachment: fixed;
  }
}

@media (min-width: 992px) {
  body{
    background: linear-gradient(180deg, #d63031 52%, #fab1a0 52%);
    background-attachment: fixed;
  }
}

@media (min-width: 1200px) {
  body{
    background: linear-gradient(180deg, #d63031 45%, #fab1a0 45%);
    background-attachment: fixed;
  }
}
