html, body {
  height: 100%;
}

body{
  background: linear-gradient(180deg, #3867d6 40%, #84a6f3 40%);
  background-attachment: fixed;
}

@media (min-width: 768px) {
  body{
    background: linear-gradient(180deg, #3867d6 50%, #84a6f3 50%);
    background-attachment: fixed;
  }
}

@media (min-width: 992px) {
  body{
    background: linear-gradient(180deg, #3867d6 52%, #84a6f3 52%);
    background-attachment: fixed;
  }
}

@media (min-width: 1200px) {
  body{
    background: linear-gradient(180deg, #3867d6 45%, #84a6f3 45%);
    background-attachment: fixed;
  }
}
